<h2>Books</h2>
  <div ng-controller="BookCtrl">
    <form ng-submit="addBook()">
      Title: <br>
      <input type="text" ng-model="bookData.title"><br>
      Genre: <br>
      <input type="text" ng-model="bookData.genre"><br>
      Description: <br>
      <input type="text" ng-model="bookData.description"><br>
      Image url: <br>
      <input type="text" ng-model="bookData.img_url"><br>
      Author id: <br>
      <select id="myselection" multiple="true" ng-model="join.authors" ng-options="a.first+' '+a.last for a in authors"></select>
      <div>
        Selected Author: {{join.authors }}
    </div>
      <input type="submit">
    </form>
  </div>