<div class="nine columns" ng-controller="AuthCtrl">
  <form ng-submit="signin()">
    <h5>Username</h5>
    <input type="text" ng-model="username"><br>
    <h5>Password</h5>
    <input type="password" ng-model="password"><br>
    <input type="submit">
  </form>
  <ul>
     <li data-ng-show="token"><a ng-href="#/restricted">Restricted area</a></li>
     <li data-ng-hide="token"><a ng-href="#/signin">Sign in</a></li>
     <li data-ng-hide="token"><a ng-href="#/signup">Sign up</a></li>
     <li data-ng-show="token"><a ng-click="logout()">Logout</a></li>
  </ul>
</div>