<!DOCTYPE html>
<html ng-app="readerApp">
<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/Skeleton-2.0.4/css/skeleton.css">
</head>
<body>
<div class="container">
  <br>
  <div class="row">
    <a href="/#/">
      <h1>Galvanize Reads</h1>
    </a>
  </div>
  <div class="three columns">
      <a class="button" href="/#/books">Books</a>
      <a class="button" href="/#/authors">Authors</a>
      <h4>Filter:</h4>
      <input type="text" ng-model="query">
  </div>
  <div ng-view>

  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
<script src="./app/app.js"></script>
<script src="./app/controllers/bookController.js"></script>
<script src="./app/factories/bookFactory.js"></script>
<script src="./app/controllers/authorController.js"></script>
<script src="./app/factories/authorFactory.js"></script>
</body>
</html>